<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" default-lazy-init="true">

    <!--default-lazy-init="true" 默认为false,创建建IoC容器时，bean中对象不会实例化，当IoC容器需要实例化某个bean中的对象，对象才被实例化，一个字懒-->
    <!-- lazy-init=“true” 这个是整到单个bean的-->

    <!--启动自动扫包,使用注解-->
    <context:component-scan base-package="com.quanroon.ysq"/>

    <bean id="getBeanTest" class="com.quanroon.ysq.bean.GetBeanTest">
        <meta key="keyTest" value="valueTTTTT"/>
        <!--<lookup-method name="getUserBean" bean="teacher"/>-->
        <lookup-method name="getUserBean" bean="student"/>
    </bean>

    <bean id="teacher" class="com.quanroon.ysq.bean.Teacher">
        <qualifier value="tt"/>
    </bean>
    <bean id="student" class="com.quanroon.ysq.bean.Student" init-method="initTest" />

</beans>